body {
  background-image: url('../public/images/bg.jpg');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.round-tiles {
  display: flex;
  flex-wrap: wrap;;
}

.bonus-cards {
  display: flex;
  flex-wrap: wrap;;
}

.bonus-card {
  width: 100px;
}


.bonus-card > img {
  width: 100%;
}
.faction-scoring {
  display: flex;
}
.score-type {
  padding: 1em;
}